*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background: #d0d8e1;
}
.container{
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 10px;
  
}
.container p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  
}
.container input{
  width: 100%;
  height: 50px;
  border: 1px solid #bfbfe8;
  outline: 0;
  margin: 10px 0 20px;
  border-radius: 5px;
  padding:  10px;
  font-size: 20px;
}
.container button{
  width: 100%;
  height: 50px;
  background: #050861;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(173, 31, 31,0.1);
  cursor: pointer;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
}
#imgBox{
  width: 200px;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
}
#imgBox img{
  width:100%;
  padding:10px;
}
#imgBox.show-img{
  max-height: 300px;
  margin:10px auto;
  border:1px solid #d1d1d1;
}
.error{
  animation: shake 0.2s linear 10;
}
@keyframes shake{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0);
  }
}
